*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-primary: #008cba;
  --color-white: #f3f3f3;
  --color-grey: rgb(70, 70, 70);
  --color-pale-yellow: #fafa33;
  --color-black: rgb(49, 49, 49);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 70px;
  background-color: var(--color-primary);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  color: var(--color-black);
}

img {
  width: 100%;
  height: 100%;
}

button {
  margin: 10px 30px;
  border: 0;
  padding: 15px 20px;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 421px) {
  button {
    margin: 8px 20px;
    padding: 10px 15px;
    border-radius: 10px;
  }
  h1 {
    font-size: 1.5 rem;
  }
}

/*widely used classes*/
.container {
  margin: 0 auto;
  max-width: 1140px;
}

.bg-blue {
  background-color: var(--color-primary);
}

.bg-yellow {
  background-color: var(--color-pale-yellow);
}

.bg-red {
  background-color: red;
}
.bg-white {
  background-color: var(--color-white);
}
.bg-grey {
  background-color: var(--color-grey);
}
.br-10 {
  border-radius: 10px;
}
.color-white {
  color: var(--color-white);
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.pb-20 {
  padding-bottom: 0 20px 20px 20px;
}
.px-20 {
  padding: 0 20px;
}
.py-20 {
  padding: 20px 0;
}
.pr-20 {
  padding: 0 20px 0 0;
}
.text-bold {
  font-weight: bold;
}
.text-white {
  color: var(--color-white);
}

picture {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 840px) {
  picture {
    width: 400px;
    justify-self: center;
  }
}
@media screen and (max-width: 440px) {
  picture {
    width: 100%;
    justify-self: center;
  }
}
/************************/
/*navigation section*/
.navbar-container {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul li {
  list-style-type: none;
  padding-right: 60px;
}
ul li:last-child {
  padding-right: 40px;
}

ul li a {
  text-decoration: none;
  color: var(--color-pale-yellow);
  padding: 10px;
  border-radius: 10px;
}

.nav-item a:hover {
  background-color: var(--color-pale-yellow);
  color: var(--color-black);
}

ul.navbar li:last-child a {
  background-color: var(--color-pale-yellow);
  color: var(--color-black);
}

.logo-link {
  padding: 0;
}

.logo {
  height: 60px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar li:first-child {
  margin-right: auto;
  padding-left: 20px;
}

.sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 250px;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: #008bba7c;
  backdrop-filter: blur(20px);
}

.sidebar li {
  padding: 1em 0;
}
.sidebar li:hover {
  background-color: var(--color-pale-yellow);
}
.sidebar li:hover a {
  color: var(--color-black);
}

.sidebar li:first-child {
  align-self: flex-end;
  background: none;
}

li.noDisplayOnDesktop {
  padding: 5px;
}
.closebutton {
  padding-right: 5px;
}
@media screen and (max-width: 840px) {
  .noDisplayOnMobile {
    display: none;
  }
}

@media screen and (min-width: 841px) {
  .noDisplayOnDesktop {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .navbar li:first-child {
    padding-left: 0px;
  }
}
/*end of navigation section*/
/*start of hero section*/
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 480px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 840px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 380px 400px;
  }
}

.hero-text-container {
  width: 90%;
  align-self: self-start;
  color: var(--color-black);
  padding: 0 20px;
}

.button-container {
  padding-top: 40px;
}

@media screen and (max-width: 840px) {
  .hero-text-container {
    width: 100%;
    text-align: center;
    align-self: center;
  }
  .button-container {
    padding-top: 0;
  }
}

/*About us page*/
.about-content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 480px;
  gap: 30px;
}

@media screen and (max-width: 840px) {
  .about-content {
    grid-template-columns: 1fr;
    grid-template-rows: 380px;
  }
}
/*our rentals section page*/
.rentals {
  background-color: #edf2f7;
}
.rental-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1136px) {
  .rental-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .rental-card {
    justify-self: center;
  }
}
@media screen and (max-width: 780px) {
  .rental-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.rental-card {
  margin-bottom: 20px;
  max-width: 350px;
  background-color: #edf2f7;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 380px) {
  .rental-card {
    margin-bottom: 24px;
    max-width: 310px;
    background-color: #edf2f7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  }
}

.rental-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-grey);
  text-transform: uppercase;
}
.btn-1,
.btn-2 {
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 30px 15px 30px;
}
.btn-2,
.btn-3 {
  background: none;
  color: var(--color-primary);
}
.card-image {
  height: 260px;
  width: 350px;
}

.btn-3-container {
  display: flex;
  justify-content: center;
}

.btn-3 {
  display: flex;
  gap: 5px;
}
