<header class="header">
  <div class="logo--container">
    <h1 class="logo">PELSON</h1>
    <div class="toggle__button" onclick="toogleMenu()">
      <img src="pics/menu-burger.svg" />
    </div>
  </div>
  <ul class="nav contents--expanded">
    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
    <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Products</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
  </ul>
</header>
