<div class="hero">
  <!-- Carousel -->
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="pics/excavator.jpg"
          alt="Los Angeles"
          class="d-block w-100 rounded-bottom slideshow"
        />
      </div>
      <div class="carousel-item">
        <img
          src="pics/loaders.jpg"
          alt="Chicago"
          class="d-block w-100 rounded-bottom slideshow"
        />
      </div>
      <div class="carousel-item">
        <img
          src="pics/excavator-2.jpg"
          alt="New York"
          class="d-block w-100 rounded-bottom slideshow"
        />
      </div>
    </div>
  </div>
  <!--carousel-description-->
  <div class="hero-description">
    <h2 class="hero__header">PELSON GROUP.</h2>
    <p class="hero__description__content">
      Heavy construction equipment renting company in Tanzania
    </p>
  </div>
</div>
